body {
    background-color: #F0FFF0;
}

h1 {
    color: rgb(232, 126, 107);
    margin-left: 100px;
    text-shadow: 2px 1px 2px rgb(1, 79, 59)    
}

.container {
    width: 450px;
    height: 450px;
    background-color: rgb(112, 179, 167);
    border: 2px solid rgb(42, 23, 85);
    border-radius: 5%;
}

/*------------------------------------------------------------------- 
    Select all squares in the array
-------------------------------------------------------------------*/
.container .squares:nth-child(-n+4) {
    background-image: url("../images/icons/smileyface2.png");
    color: #fff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: cell;
    transition: transform .5s ease-in-out;
}

/*------------------------------------------------------------------- 
    Select all squares paragraphs in the array
-------------------------------------------------------------------*/
.squares:nth-child(-n+4) p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: 900;
        text-align: center;
        margin: 0;
        text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/*------------------------------------------------------------------- 
    Individually select squares in the array
-------------------------------------------------------------------*/
.squares:nth-child(1) {
    background: #FFA07A;
}

.squares:nth-child(2) {
    background: #FAF0E6;
}

.squares:nth-child(3) {
    background: #F08080;
}

.squares:nth-child(4) {
    background: #FFE4E1;
}

/*------------------------------------------------------------------- 
    Hover, translate, and transform effects
-------------------------------------------------------------------*/
.container .squares:nth-child(-n+4):hover {
    background-image: url(../images/icons/smileyface1.png);
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5,.2,.3,2);
}
.squares:nth-child(1):hover {
    background: #98FB98;
}

.squares:nth-child(2):hover {
    background: #9ACD32;
}

.squares:nth-child(3):hover {
    background: #98FB98;
}

.squares:nth-child(4):hover {
    background: #9ACD32;
}

/*------------------------------------------------------------------- 
    Animation effects
-------------------------------------------------------------------*/
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../images/icons/smileyface1.png");
    }
    50% {
        transform: translateY(330px);
    }    
}